<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @supplier_name %>,
      <br>
      dagha rada... ltr ptr... yo man... full english ... i now know english
      <br>
      good english... what the bludy english.
      <br>
      Thanks,
    </p>
  </body>
</html>