<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @supplier_name %>,
      <br>
      <%= @body&.html_safe %>
      <br>
      <br>
      Thanks,
    </p>
  </body>
</html>