<!-- Main Content Header -->
<div class="main-content-header">
  <h1><%= link_to 'Services', services_path, style:'color: #212529;' %></h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <span class="active">/ Create</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Create</h5>
        </div>
          <%= form_for @service do |f| %>
            <%= render 'form', f: f %>
          <% end %>
      </div>
    </div>
  </div>
</div>