<!-- Main Content Header -->
<div class="main-content-header">
  <h1><%= link_to 'Purchase Orders', purchase_orders_path, style:'color: #212529;' %></h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= dashboard_sales_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">/ Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Show</h5>
        </div>
        <%= form_for @purchase_order, url: purchase_orders_path, method: :post do |pd| %>
          <%= render 'form_show', pd: pd %>
        <% end %>
      </div>
    </div>
  </div>
</div>