<div class="row">
  <div class="col-lg-4 col-sm-6">
    <%= link_to ebay_selling_sellings_path do %>
      <div class="stats-card-two hover-card mb-30">
        <div class="media align-items-center justify-content-between">
          <div class="ml-0">
            <p class="mb-10 line-height-1">Ebay</p>
          </div>
          <div class="avatar avatar-cyan ">
            <i data-feather="link"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-6">
    <%#= link_to ebay_selling_sellings_path do %>
      <div class="stats-card-two hover-card mb-30">
        <div class="media align-items-center justify-content-between">
          <div class="ml-0">
            <p class="mb-10 line-height-1">Amazon</p>
          </div>
          <div class="avatar avatar-cyan ">
            <i data-feather="link"></i>
          </div>
        </div>
      </div>
    <%# end %>
  </div>
</div>
