<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Settings</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= dashboard_sales_path %>">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="<%= users_path %>">Settings</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Edit</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
    <div class="col-xl-12">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Edit</h5>
                </div>

                <%= form_for(@user, url: user_path) do |f| %>
                    <%= render 'form', f: f %>
                <% end %>
            </div>
        </div>
    </div>
</div>