<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Packers</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= settings_path %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= packers_path %>">Packers</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Show</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="d-flex">
          <p>Customer Name</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Delivery address</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Order ID</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Order reference</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Order date</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Delivery date</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Courier service</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Courier rule</p>
          <p></p>
        </div>
        <div class="d-flex">
          <p>Total order weight</p>
          <p></p>
        </div>

        <!-- div class="card-header">
          <h5 class="card-title">
            Show
          </h5>
        </div -->
        <%# <fieldset disabled> %>
        <%# form_for @packer, url: packer_path(@packer) do |f| %>
          <%# render 'form', f: f %>
          <%# f.submit 'Update', class: 'btn btn-success mt-4 float-right'%>
        <%# end %>
      </div>
    </div>
  </div>
</div>
