<!-- Main Content Header -->
<div class="main-content-header">
  <h1>Packing Station</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= home_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= pick_and_packs_path %>">Packing Station</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">View</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->

<%= render "information_show", batch_order: @batch_order %>