<div class="row">
  <div class="col-lg-12">
    <div class="card mb-30">
      <div class="card-body">
        <div class="table-responsive">
          <%= render 'ready_and_print_table', channel_orders: @orders %>
          <div class='float-right'>
            <%#= page_entries_info @orders %>
          </div><br>
          <div class="pagination justify-content-center mt-1">
            <%#= paginate @orders, :param_name => :ready_to_print,theme: "twitter-bootstrap-4",pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>