<%= form_with url: '/create', local: true, method: :post do |f| %>
    <div class="form-row">
        <% if @field_names.present? %>
            <% @field_names&.each do |field_name| %>
                <div class="form-group col-md-6">
                    <%= f.label :"#{field_name}" %>
                    <%= f.text_field :"#{field_name}", class: 'form-control'%>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>
