<div class="form-group">
  <%= f.label :pack_quantity %>
  <%= f.text_field :pack_quantity, autofocus: true, class: 'form-control', placeholder: 'Enter Pack Quantity' %>
</div>

<div class="form-group">
  <%= f.label :cost_price %>
  <%= f.text_field :cost_price, class: 'form-control', placeholder: 'Enter Cost Price' %>
</div>
