<div class='multi-basic-info-form'>
  <div class='row'>
    <div class='col-sm-12'>
      <h5 class='text-center'>Basic</h5>
    </div>
  </div><hr>
  <div class="form-group required d-none">
    <%= f.label :product_type %>
    <%= f.select :product_type, ['multiple'], {}, class: 'form-control product_type_field', readonly: true %>
  </div>
  <%= render 'products/basic_info_fields_multiple', f: f %>
  <hr>
  <button type='button' class='multi_basic_info_button btn btn-sm btn-outline-info float-right'>Next</button><br>
</div>
<div class='multi-detail-form d-none'>
  <%= render '/products/new_partials/multi_product_details', f: f %>
  <hr>
  <button type='button' class='multi_detail_info_button btn btn-sm btn-outline-info float-right'>Previous</button><br>
</div>