<div class="nested-fields">
  <br>
  <div class="form-group row">
    <div class="col-11">
      <%= f.label 'Add Product' %>
      <%= f.select :child_id, @single_products&.map{|u| [u['title'], u['id']]}, {include_blank: 'Select a Product'}, class: 'form-control' %>
    </div>
    <div class='col-1 pt-3'>
      <br>
      <%= link_to_remove_association 'X', f, class: 'text-danger' %>
    </div>
  </div>
</div>
