<div class="form-row">
  <div class="form-group col-md-6">
      <%= f.label 'Warehouse Stock' %>
      <%= f.number_field :total_stock, step: :any, class: 'form-control', placeholder: 'Enter Total Quantity', required: true %>
  </div>
  <div class="form-group col-md-6">
      <%= f.label :fake_stock %>
      <%= f.number_field :fake_stock, step: :any, class: 'form-control', placeholder: 'Enter Fake Stock Quantity' %>
  </div>
  <!--div class="form-group col-md-6">
      <%#= f.label :pending_orders %>
      <%#= f.number_field :pending_orders, step: :any, class: 'form-control', placeholder: 'Enter Pending Orders Quantity' %>
  </div>
  <div class="form-group col-md-6">
      <%#= f.label :allocated_orders %>
      <%#= f.number_field :allocated_orders, step: :any, class: 'form-control', placeholder: 'Enter Allocated Quantity' %>
  </div-->
</div>