<div class="nested-fields">
  <br/>
  <div class="form-group row">
    <div class="col-11">
      <%= f.label :name %>
      <%= f.select :name, @system_users&.map{|u| [u['name'], u['id']]}, {include_blank: 'Select a Product Supplier'}, autofocus: true, class: 'form-control' %>
    </div>
    <div class='col-1 pt-3'>
      <br>
      <%= link_to_remove_association 'X', f, class: 'text-danger' %>
    </div>
  </div>
</div>
