<div class="nested-fields">
  <br/>
  <div class="form-group">
    <%= f.label :sku %>
    <%= f.select :sku, @system_users&.map{|u| [u['sku'], u['id']]}, {include_blank: 'Enter Select System User'}, autofocus: true, class: 'form-control', placeholder: 'Enter SKU' %>
    <%#= f.select :sku, {}, {}, class: 'form-control js-data-ajax-system-users'%>
  </div>

  <%= link_to_remove_association "remove product supplier", f, class: 'btn btn-outline-secondary rounded mb-3' %>
</div>
<div class='form-row text-right clearfix'>
  <button type='button' class='btn btn-sm btn-info ml-auto next-tab-button col-2 offset-10 float-right'>Next</button>
</div>
